<% @page_title = "Delete Event" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="events delete">

  <%= form_for(:event, :url => {:action => 'destroy', :id => @event.id}) do |f| %>

    <p>Are you sure you want to permanently delete this event?</p>

    <p class="reference-name"><%= @event.event_name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Event") %>
    </div>

  <% end %>
</div>
